<div class="c-accordion">
  <input
    class="c-accordion__selector"
    id="c-accordion__tab-{% if accordion_name %}{{ accordion_name }}{% else %}name{% endif %}--1"
    name="c-accordion__{% if accordion_name %}{{ accordion_name }}{% else %}name{% endif %}-group"
    type="radio" checked
  >
  <label
    class="c-accordion__heading b-pt-2"
    id="c-accordion__heading-{% if accordion_name %}{{ accordion_name }}{% else %}name{% endif %}--1"
    for="c-accordion__tab-{% if accordion_name %}{{ accordion_name }}{% else %}name{% endif %}--1"
  >
    Richer online insights
  </label>
  <div class="c-accordion__section">
    <p
      class="c-accordion__description b-mt-1"
      aria-labelledby="c-accordion__heading-{% if accordion_name %}{{ accordion_name }}{% else %}name{% endif %}--1"
    >
      Use real-time data superpowers including advanced device detection and geolocation to build a hi-fidelity picture of the people interacting with you online.
    </p>
  </div>
  <input
    class="c-accordion__selector"
    id="c-accordion__tab-{% if accordion_name %}{{ accordion_name }}{% else %}name{% endif %}--2"
    name="c-accordion__{% if accordion_name %}{{ accordion_name }}{% else %}name{% endif %}-group"
    type="radio"
  >
  <label
    class="c-accordion__heading b-mt-2 b-pt-2"
    id="c-accordion__heading-{% if accordion_name %}{{ accordion_name }}{% else %}name{% endif %}--2"
    for="c-accordion__tab-{% if accordion_name %}{{ accordion_name }}{% else %}name{% endif %}--2"
  >
    Dazzling user experiences
  </label>
  <div class="c-accordion__section">
    <p
      class="c-accordion__description b-mt-1"
      aria-labelledby="c-accordion__heading-{% if accordion_name %}{{ accordion_name }}{% else %}name{% endif %}--2"
    >
      Your audience wants relevant content, instantly, whatever their device. Now you can create personalized, smooth, adaptive digital experiences that make them feel special.
  </p>
  </div>
  <input
    class="c-accordion__selector"
    id="c-accordion__tab-{% if accordion_name %}{{ accordion_name }}{% else %}name{% endif %}--3"
    name="c-accordion__{% if accordion_name %}{{ accordion_name }}{% else %}name{% endif %}-group"
    type="radio"
  >
  <label
  class="c-accordion__heading b-mt-2 b-pt-2"
  id="c-accordion__heading-{% if accordion_name %}{{ accordion_name }}{% else %}name{% endif %}--3"
  for="c-accordion__tab-{% if accordion_name %}{{ accordion_name }}{% else %}name{% endif %}--3"
  >
    Epic conversion rates
  </label>
  <div class="c-accordion__section">
    <p
    class="c-accordion__description b-mt-1"
    aria-labelledby="c-accordion__heading-{% if accordion_name %}{{ accordion_name }}{% else %}name{% endif %}--3"
    >
    Remove the frustrating digital roadblocks that are hindering your business and watch engaged users become satisfied customers – again and again.
  </p>
  </div>
</div>
